* { box-sizing: border-box; }

/* force scrollbar */
html {overflow-y: scroll;}


body { font-family: sans-serif; }

/* Navbar */
#mainNav {
    background-color: #3F3F3F;
    font-family: "Noto Sans", sans-serif, -apple-system;
    color: #fff;
}

#mainNav .navbar-brand {
    font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #6c757d;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #6c757d;
    font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
}
#mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
}
#mainNav .navbar-brand:hover {
    color: #fff;
}
#mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0.75rem 1rem;
}
#mainNav .navbar-nav .nav-item .nav-link:hover { color: #fff; }
#mainNav .navbar-nav .nav-link:active { color: #f4623a; }

@media (min-width: 992px) {
    #mainNav {
        box-shadow: none;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
        padding: 0 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0;
    }
}

body {
    margin: 0;
    font-family: "Noto Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

/* ---- grid ---- */
.grid {
    padding-top: 1rem;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.button-group {
    text-align: center;
    display: block;
}

.button-group .btn-outline-secondary:hover {
    background-color: rgba(244, 98, 58, .5) !important;
}

#btn-container {
    padding-top: 1em;
    /*position: fixed;*/
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 33.333%;
}

@media screen and (max-width: 992px) {
    .grid-sizer, .grid-item {
        width: 50%;
    }
    .width2 {
        width: 50% !important;
    }
    .grid-item {
        padding: 0.5em 0.5em 0.5em 0.5em !important;
    }
}

@media screen and (max-width: 650px) {
    .grid-sizer, .grid-item {
        width: 100% !important;
    }
    .grid-item {
        padding: 0.5em 0.5em 0.5em 0.5em !important;
    }
}

.grid-item {
    float: left;
    padding: 1em 1em 1em 1em;
}

.width2 {
    width: 66.666%;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

.height2 {
    height: 850px;
}

.grid-item img {
    display: block;
    width: 100%;
}

/* portfolio box */
#works .container-fluid .portfolio-box {
    position: relative;
    display: block;
    width: 100%;
}

.portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(244, 98, 58, 0.9);
    /*background: rgba(0, 125, 247, 0.9);*/
    transition: opacity 0.25s ease;
}

.portfolio-box .portfolio-box-caption .project-category {
    font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
}

.portfolio-box-caption .project-name {
    font-size: 1.2rem;
}

.portfolio-box-caption .project-link {
    text-decoration: none;
    padding-top: 2em;
}

.portfolio-box-caption .site-link {
    font-size: 1rem;
    margin: 0;
    color: #fff;
}

.portfolio-box-caption .site-link:hover {
    border-color: #f4623a;
    background-color: rgba(108,117,125,.75) !important;
    -webkit-transform: scale(1.05);
    transition: .2s ease;
}

.portfolio-box-caption .site-link:visited {
    border-color: #fff;
    border-width: medium;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}